.About {
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  visibility: hidden;
  opacity: 0;
  height: 100%;
  visibility: visible;
}
.About ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.About ul li {
  margin: 10px;
}
.About .icon {
  position: absolute;
  left: 90%;
  top: 16%;
  height: 5%;
  width: auto;
  color: white;
}
.AboutNxt {
  opacity: 1;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  height: 100%;
  visibility: visible;
  background: rgba(20, 2, 2, 0.376);
  margin: 0 auto;
}
.AboutNxt .AboutInfo {
  height: 100%;
  padding-top: 5%;
}
.AboutNxt ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.AboutNxt ul li {
  margin: 10px;
}
.AboutNxt .icon {
  position: absolute;
  left: 90%;
  top: 5%;
  height: 50px;
  width: 50px;
  color: white;
}
.AboutNxt .icon:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(94, 162, 252, 0.562);
}
